.carouselContainer {
    position: relative;
    margin-top: 20px;
    padding-bottom: 20px;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    font-size: 16px;
}

.prevButton:hover,
.nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prevButton {
    left: 1%;
}

.nextButton {
    right: 1%;
}