@import "../../../index.scss";

.contentBackground {
    @include backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    h2 {
        @include fontSizeTitle;
        @include colorText;
        font-weight: 600;
        text-align: center;
    }

    p {
        @include colorText;
        @include fontSizeDefault;
        margin-top: 20px;
    }



    .content {
        display: flex;

    }
}

.imageCharity {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.mobile {
    display: none;
}

@media only screen and (max-width: 786px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}