@import "../../../index.scss";

.contentBackground {
    @include backgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

    h2 {
        @include fontSizeTitle;
        @include colorText;
        font-weight: 600;
        text-align: center;
    }

    p {
        @include colorText;
        @include fontSizeDefault;
        margin-top: 20px;
    }



    .content {
        display: flex;

    }
}

.imageCharity {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}