@import '../../index.scss';

.careerBackground {
    @include backgroundWhite;
    padding-bottom: 40px;

    .title {
        padding-top: 20px;
        padding-bottom: 20px;
        @include backgroundColor;

        .titleBackground {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;

            .workAH {
                img {
                    width: 50%;
                    display: block;
                }

                h1 {
                    font-size: 5rem;
                    @include colorText;
                    text-align: left;
                    @include fontSizeTitle;
                }

                h2 {
                    @include colorText;
                    text-align: left;
                    padding-top: 10px;
                    @include font30;
                }

                h5 {
                    @include colorText;
                    @include fontSizeDefault;
                    text-align: left
                }
            }
        }
    }


    .titleContent {


        h2 {
            @include fontSizeTitle;
            @include colorBlack;
            text-align: center;
            padding-bottom: 50px;
        }
    }

    .careersListBackground {
        @include careerListBackground;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        h5 {
            @include colorBlack;
            @include fontSizeDefault;
            font-weight: 600;
            padding-top: 50px;
        }

        h6 {
            padding: 100px 0px;
            color: #727171;
            @include fontSizeDefault;
            font-weight: 300;
        }

        .btnapply {
            border: none;
            background: none;
            float: left;
            padding-bottom: 50px;

            a {
                display: inline-block;
                position: relative;
                overflow: hidden;
                border-radius: 40px;
                border: 1.5px solid;
                @include backgroundBlack;
                @include colorText;
                z-index: 1;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                margin: 0 10px 0 0;
                padding: 13px 35px !important;
                text-decoration: none;
                // transition: all 0.3s ease;
            }

            a:hover {
                // width: 100%;
                background-color: #252525;

                transition: all 0.3s ease;
            }

        }


    }

}