@import '../../index.scss';

.careerBackground {
    @include backgroundWhite;
    padding-bottom: 40px;

    .title {
        padding-top: 40px;
        padding-bottom: 40px;
        @include backgroundColor;

        .titleBackground {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;

            .workAH {
                // padding: 0px 30px;

                img {
                    width: 100%;
                    display: block;
                    border-radius: 50%;
                }

                h1 {
                    @include colorText;
                    text-align: left;
                    font-size: 5vh;
                }

                h4 {
                    @include colorText;
                    text-align: left;
                    padding-top: 10px;
                    font-weight: 400;
                }

                h5 {
                    @include colorText;
                    @include fontSizeDefault;
                    text-align: left
                }
            }
        }
    }



    .titleContent {


        h2 {
            @include fontSizeTitle;
            @include colorBlack;
            text-align: center;
            padding-bottom: 15px;
        }
    }

    .careersListBackground {
        @include careerListBackground;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

        .imageCareer {
            min-height: 370px;

            img {
                width: 60%;
                display: block;
                margin: auto;
                height: auto;
                object-fit: contain;
            }
        }

        h5 {
            @include colorBlack;
            @include font30;
            font-weight: 600;
            padding-top: 50px;
        }

        h6 {
            padding: 10px 0px;
            color: #727171;
            font-size: 25px;
            font-weight: 300;
        }

        .btnapply {
            border: none;
            background: none;
            float: left;
            padding-bottom: 50px;
            padding-top: 20px;

            a {
                display: inline-block;
                position: relative;
                overflow: hidden;
                border-radius: 40px;
                border: 1.5px solid;
                @include backgroundBlack;
                @include colorText;
                z-index: 1;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                margin: 0 10px 0 0;
                padding: 13px 35px !important;
                text-decoration: none;
                // transition: all 0.3s ease;
            }

            a:hover {
                // width: 100%;
                background-color: #252525;

                transition: all 0.3s ease;
            }

        }


    }

    .title1 {
        background-color: #1a1d24 !important;

        .workAH {
            img {
                width: 80% !important;
                border-radius: 0px !important
            }
        }
    }
}

.mobile {
    display: none;
}


@media only screen and (max-width: 786px) {
    .workAH {
        // padding: 0px 30px;

        img {
            width: 100%;
            display: block;
            border-radius: 50%;
        }
    }

    .title1 {

        .workAH {
            img {
                width: 100% !important;
                border-radius: 0px !important;
                display: block;
                margin: auto;
            }
        }
    }

    .imageCareer {
        min-height: 0px !important;

        img {
            display: block;
            margin: auto;
            height: auto;
            object-fit: contain;
        }
    }

    .careersListBackground {

        h5 {
            text-align: center;

        }

        .btnapply {
            padding-top: 10px;
        }
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .careerBackground {
        .titleContent {
            h2 {
                font-size: 40px !important;
            }
        }
    }
}