@import '../../../index.scss';

.content {
    // background-color: #333742;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 0px 12px;

    .titleContent {
        h2 {
            @include colorText;
            @include fontSizeTitle;
        }
    }

    h6 {
        color: #929292;
        // @include colorText;
        font-size: 25px;
        padding-top: 30px;
    }

    p {
        @include colorText;
        @include fontSizeDefault;
        margin: 0px;
        padding: 10px 0px;
    }
}



.colmd5ths {

    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

}

.colxs5ths {

    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

}

.collg5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.collg5ths {
    width: 20%;

    float: left;

}



@media (min-width: 768px) {

    .colsm5ths {

        width: 20%;
        float: left;


    }

}

@media (min-width: 992px) {

    .colmd5ths {

        width: 20%;

        float: left;

    }

}

@media (min-width: 1200px) {

    .collg5ths {

        width: 20%;

        float: left;

    }

}