@import "../../../index.scss";

.contentBackground {
    @include backgroundColor;
    padding: 20px 0px;

    .titleContent {
        h2 {
            @include colorText;
            @include fontSizeTitle;

        }

        p {
            @include colorGray;
            @include fontSizeDefault;
        }


    }

    .detailsContent {

        h6 {
            padding-top: 20px;
            @include colorText;
            @include font30;
        }

        li {
            @include colorGray;
            @include fontSizeDefault;
            padding-left: 16px;
        }
    }

    .btnapply {
        border: none;
        background: none;
        float: left;
        padding-bottom: 50px;

        a {
            display: inline-block;
            position: relative;
            overflow: hidden;
            border-radius: 40px;
            border: 1.5px solid;
            @include backgroundBlack;
            @include colorText;
            z-index: 1;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            margin: 0 10px 0 0;
            padding: 13px 35px !important;
            text-decoration: none;
            // transition: all 0.3s ease;
        }

        a:hover {
            // width: 100%;
            background-color: #252525;

            transition: all 0.3s ease;
        }

    }
}