@import "../../../index.scss";


.titleContent {
    h2 {
        @include colorText;
        @include fontSizeTitle;
    }
}


.content {
    margin: 20px;
    border-radius: 40px;
    border: 1.5px solid #acacac;
    padding: 20px;
    transition: transform .2s;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);

    i {
        font-size: 4rem;

        svg {
            path {
                color: #646adc;
            }
        }
    }

    p {
        @include fontSizeDefault;
        @include colorText;
    }
}