@import '../../index.scss';

// $bgcolor: linear-gradient(264deg, #fde8fbcc 10%, #ffffff 60%, #b5d5e49e 98%);
$bgcolor: #232730;

.content {
    background: $bgcolor;
}

.bannerHome {
    img {
        width: 100%;
        height: auto;
    }
}

.bannerBPO {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px 0px;

    img {

        margin: auto;
        border-radius: 10px;
        width: 70%;

    }
}

.oursourcing {
    padding-top: 20px;
}



// .numberItem {
//     h2 {
//         @include colorPrimaryText;
//         margin: 0px 20px;
//         align-items: center;
//     }
// }
p {
    @include fontSizeDefault;
}

.contentdetail {
    // border-radius: 40px;
    // box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
    margin: 0 0 20px 0;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    // padding: 10px 10px 10px 0;
    @include colorText;
    // background-color: white;

    p {
        margin-bottom: 0;
        @include fontSizeDefault;
        text-align: justify;
    }

    .imageBPO {
        width: 100%;
    }
}

// .contentdetail:hover {
//     box-shadow: 0px 6px 30px rgba(172, 172, 172, 0.3);
//     color: #ffffff;

//     .btnapply {
//         a {
//             color: #ffffff;
//         }
//     }
// }

// .contentdetail:hover::before {
//     width: 100%;
//     background: $colorPrimary;
// }

// .contentdetail::before {
//     border-radius: 40px 40px 0 0;
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 50%;
//     transition: all 0.7s ease-in;
//     background: $colorPrimary;
//     z-index: -1;
//     top: 0;
//     left: 0;
// }

// .contentdetail:hover::after {
//     width: 100%;
//     background: $colorPrimary;
// }

// .contentdetail::after {
//     border-radius: 0 0 40px 40px;
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 50%;
//     transition: all 0.7s ease-in;
//     background: $colorPrimary;
//     z-index: -1;
//     bottom: 0;
//     right: 0;
// }

@media (max-width: 768px) {
    .contentdetail {
        text-align: center !important;
        padding: 10px;
    }

    .btnapply {
        float: none !important;
    }

    .numberItem {
        h2 {
            margin: 0px 20px 0 20px;
        }
    }
}

.btnapply {
    border: none;
    background: none;
    float: left;

    a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 40px;
        border: 1.5px solid;
        @include borderColor;
        @include colorText;
        z-index: 1;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin: 0 10px 0 0;
        padding: 13px 35px !important;
        text-decoration: none;
        // transition: all 0.3s ease;
    }

    a:hover {
        // width: 100%;
        @include backgroundHover;

        transition: all 0.3s ease;
    }

    // a::before {
    //     border-radius: 50px 50px 0 0;
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 50%;
    //     transition: all 0.3s ease-in;
    //     background: $colorPrimary;
    //     z-index: -1;
    //     top: 0;
    //     left: 0;
    // }

    // a:hover::after {
    //     width: 100%;
    //     background: $colorPrimary;
    // }

    // a::after {
    //     border-radius: 0 0 50px 50px;
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 50%;
    //     transition: all 0.3s ease-in;
    //     background: $colorPrimary;
    //     z-index: -1;
    //     bottom: 0;
    //     right: 0;
    // }
}

.btnapplyAdvantage {
    float: left;
}

.contentSub2 {
    p {
        text-align: left;
    }

    .fast {
        font-size: 30px;
    }


}

.image {
    width: 100%;
    object-fit: cover;
}

.experience {
    // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../../Image/Home/Banner/background_clients_say.jpg);
    background-color: #1a1d24;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
    padding: 50px 0 50px 0;
    width: 100%;



    .btnapply {
        a {
            color: #ffffff;
        }
    }
}






.bodycontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;





    h1 {
        align-items: center;
    }
}

.titleContent {
    @include colorText;
    @include fontSizeTitle;

    h1 {
        // text-decoration: underline 1px;
        // text-underline-offset: 15px;
        // text-decoration-color: #ffffff;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }

    h1::after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: #fff;
        margin: 0 auto;
    }


}

// .detailClient:hover {
//     box-shadow: 0px 6px 30px rgba(172, 172, 172, 0.3);
//     color: #ffffff;

//     .btnapply {
//         a {
//             color: #ffffff;
//         }
//     }
// }

// .detailClient:hover::before {
//     width: 100%;
//     background: $colorPrimary;
// }

// .detailClient::before {
//     border-radius: 40px 40px 0 0;
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 50%;
//     transition: all 0.7s ease-in;
//     background: $colorPrimary;
//     z-index: -1;
//     top: 0;
//     left: 0;
// }

// .detailClient:hover::after {
//     width: 100%;
//     background: $colorPrimary;
// }

// .detailClient::after {
//     border-radius: 0 0 40px 40px;
//     content: "";
//     position: absolute;
//     width: 0;
//     height: 50%;
//     transition: all 0.7s ease-in;
//     background: $colorPrimary;
//     z-index: -1;
//     bottom: 0;
//     right: 0;
// }


.fepBackground {

    p {
        @include colorText;
        @include fontSizeDefault;
    }

    h2 {
        @include colorText;
        text-align: left;
        margin: 0;
    }

    span {
        font-size: 30px;

    }

    .fast {
        padding-right: 30px;
    }

    .imagefep {
        width: 100%;
        height: 50px;
        width: auto;
        margin: auto;
    }
}