.sideBarstyle {
    display: flex;
    flex-direction: column;
    background-color: #2a2b2d;
}

.Outlet {
    position: relative;
}

.soluForm {
    position: sticky;
    top: 92px;
    z-index: 1;
}

@media only screen and (max-width: 992px) {
    .soluForm {
        position: relative;
        padding-bottom: 20px;
        top: auto;
    }
}