.sideBarstyle {
    display: flex;
    flex-direction: column;
    background-color: #2a2b2d;
}

.Outlet {
    position: relative;
}

.soluForm {
    position: fixed;
    margin-right: 10px;
    z-index: 10;
    min-height: 600px;
}

@media only screen and (max-width: 786px) {
    .soluForm {
        position: relative;
        padding-bottom: 20px;
    }
}