@import '../../../index.scss';

.wrapper {
    .titleContent {
        h2 {
            @include fontSizeTitle;
            @include colorText;
            text-align: center
        }
    }

    .detailsContent {
        .content {
            @include fontSizeDefault;
            @include colorGray;
            padding-top: 10px;
            padding-left: 12px;
        }

        .title {
            @include fontSizeDefault;
            @include colorText;
            font-weight: 600;
        }
    }

    .BPOImage {
        width: 40%;
        display: block;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) {

    .wrapper {
        .BPOImage {
            width: 80%;
            display: block;
            margin: auto;
        }
    }

}