@import '../../index.scss';

.turkeyDashLink {
    margin-top: 10px;

    img {
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: lightgray;
        letter-spacing: .5px;
    }

    a:hover {
        @include colorPrimaryText;
    }
}

.linkcompany {
    margin-top: 10px;

    a {
        text-decoration: none;
        color: lightgray;
        letter-spacing: .5px;
    }

    a:hover {
        @include colorPrimaryText;
    }
}

.isoModal:hover {
    cursor: pointer;
    @include backgroundHover
}

.isoLogo {
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        padding-top: 10px;
    }
}

.isoIEC {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.copyRight {
    text-align: center;
    color: lightgray;
    margin-top: 30px;
    padding-bottom: 10px;
    letter-spacing: .5px;

    a {
        text-decoration: none;
        color: lightgray;
        letter-spacing: .5px;
    }

    a:hover {
        @include colorPrimaryText;
    }
}

.inforIcon {
    padding-right: 10px;
}

.infodetail {
    color: lightgray;
    margin-top: 10px;
    letter-spacing: .5px;
    a{
        text-decoration: none;
        color: lightgray;
    }
    a:hover{
        @include colorPrimaryText;
    }
}

.namesubject {
    font-size: 1.3rem;
    padding: 10px 0;
    border-bottom: 3px solid #dfdfdf;
    color: #ffffff;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: .5px;
}

.inforfooter {
    @include backgroundFooter;
    @include colorText;
}

.btnapply {
    padding-top: 10px;
    border: none;
    background: none;


    a {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 40px;
        border: 1.5px solid;
        @include borderColor;
        @include colorText;
        z-index: 1;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        margin: 0 10px 0 0;
        padding: 13px 35px !important;
        text-decoration: none;
        // transition: all 0.3s ease;
    }

    a:hover {
        // width: 100%;
        @include backgroundHover;

        transition: all 0.3s ease;
    }

    // a:hover::before {
    //     width: 100%;
    //     background: $colorPrimary;
    // }

    // a::before {
    //     border-radius: 50px 50px 0 0;
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 50%;
    //     transition: all 0.3s ease-in;
    //     background: $colorPrimary;
    //     z-index: -2;
    //     top: 0;
    //     left: 0;
    // }

    // a:hover::after {
    //     width: 100%;
    //     background: $colorPrimary;
    // }

    // a::after {
    //     border-radius: 0 0 50px 50px;
    //     content: "";
    //     position: absolute;
    //     width: 0;
    //     height: 50%;
    //     transition: all 0.3s ease-in;
    //     background: $colorPrimary;
    //     z-index: -2;
    //     bottom: 0;
    //     right: 0;
    // }
}