$bannerHome : url('../../../Image/Banner/Its-a-flat-world-Reimagine-how-you-do-business-background.webp');
@import '../../../index.scss';

.backgroundImage {
    img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }

}