.titlePage {
    opacity: 0.7;

    h1 {
        padding: 40px;
        background-color: white;
        border-radius: 5px;
        font-size: 50px;
        font-weight: 1000;
    }
}

.overlay {
    background-color: black;
    opacity: 1;
    z-index: 1;
}